:root {
  --primary-color: rgb(0, 0, 131);
  --secondary-color: rgb(139, 226, 255);
  --tertiary-color: rgb(212, 255, 244);
  --quaternary-color: rgba(255, 255, 255, 0.612);
  --quinary-color: rgba(53, 53, 53, 0.612);
}

.dark-mode:root {
  --primary-color: rgb(139, 226, 255);
  --secondary-color: rgb(0, 0, 131);
  --tertiary-color: rgb(68, 85, 84);
  --quaternary-color: rgba(53, 53, 53, 0.612);
  --quinary-color: rgba(255, 255, 255, 0.612);
  
}
header {
  width: 100vh;
  padding: 20px;
}
i{
  margin: 10px;
}
#dark-mode-bttn {
  position: absolute;
  right: 0;
  font-size: 30px;
  color: var(--quinary-color);
}
body {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.238);
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom,var(--secondary-color),var(--tertiary-color));
  font-family: trebuchet ms;
  color: white;
  text-align: center;
  margin: 0;
}
main{
  margin: auto;
}
h2 {
 font-size: 24px;
}

a {
  width: 150px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-decoration: none;
 background-color: var(--quaternary-color);
color: var(--primary-color);
font-size: 20px;
padding: 10px;
margin: 10px auto;
border: solid 1px;
border-radius: 20px;
}
a:hover {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}
p {
 border: 50px;

}
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

img {
  width: 150px;
  border-radius: 75px;
  margin-top: 20px;
  animation: jump 1s infinite;
}
img:hover {
  animation-play-state: paused;
  box-shadow: 0 0 10px rgba(186, 241, 255, 0.903);
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 131);
  color: white;
  text-align: center;
}