#fundo{
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom,lightblue,white);
}
body {
font-family: trebuchet ms;
color: white;
 text-align: center;
}
h2 {
 font-size: 24px;
}
a {
text-decoration: none;
display: block;
 background-color: lightgray;
color: blue;
font-size: 20px;
padding: 10px;
margin: 10px;
border: solid 1px;
border-radius: 20px;
}
p {
 border: 50px;

}
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

img {
  width: 150px;
  border-radius: 75px;
  margin-top: 20px;
  animation: jump 1s infinite;
}
